<strong> Olá, {{organizer}}</strong>
<p>Houve uma inscrição no meetup {{ meetup }}, os dados do inscrito estão abaixo:</p>
<p>
  <strong>Nome:</strong> {{user}}
  <strong>E-mail:</strong>{{email}}
</p>
